
body {
	background: 50% 50% url('../images/bg.png') repeat;
	font: normal 14px sans-serif;
	margin: 0;
}

.logo {
	display: block;
	margin: 60px auto 40px;
}

.about {
	text-align: center;
	font-size: 22px;
	margin-bottom: 50px;
	padding: 0;
	line-height: 35px;
}

.project {
	background: #fff;
	float: left;
	padding: 0;
	box-shadow: 2px 2px 3px #aaa;
	transition: all 0.3s;
	margin: 0 0 20px;
}

.project:hover {
	cursor: pointer;
	color: #fff;
	background: #eee;
}

.project img {
	width: 100%;
}

.project-description {
	padding: 20px;
	line-height: 24px;
	font-size: 16px;
}

.project-description h3 {
	margin: 0 0 10px;
}
