
body {
	background: 50% 50% url('../images/bg.png') repeat;
	font: normal 14px sans-serif;
	margin: 0;
}

.logo {
	display: block;
	margin: 60px auto;
}

.about {
	width: 800px;
	text-align: center;
	font-size: 20px;
	margin: 0 auto;
}

.projects {
	width: 850px;
	margin: 50px auto;	
}

.project {
	background: #fff;
	float: left;
	width: 250px;
	margin-left: 25px;
}

.project img {
	width: 100%;
}